.row {
    clear: left;
}

.cell {
    height: 100px;
    line-height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-top: 5px;
    float: left; 
    text-align: center;
    background-color: lightgray;
    cursor: pointer;
    font-size: 100px;
}
